/*
 * Clermont'ech Planet
 * Page 404.
 */

.content-404 {
    padding: 10% 0;
    width: 100%;

    h1 {
        color:$text_color;
        font-size: 3.5em;
        text-align: center;
        float: none;
    }

    div {
        display: none;
        text-align: center;

        img {
            padding-bottom: 20px;
        }
    }
}
