/*
    Clermont'ech Planet

    Events.
 */

.talks {

    .event-wrapper {
        padding: 1em 0;

        &:not(:last-child){
            margin-bottom: 1em;
        }

        &:nth-child(even){
            background-color: $event_background_color_even;
        }
    }
}

.vevent {
    @include grid-row();
}

.summary {
    font-family: $title_font;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
}

.event-date-wrapper {
    @include grid-column(2);
    display: none;
    // padding-top: 13px;
    text-align: center;
}

.event-date-small-date {
    display : inline-block;
    padding-right: 10px;
}

.event-information-wrapper{
    @include grid-column(12);
    padding : 0px;
}

.description {
    text-align: justify;
}

.event-date {
    text-align: center;

    span {
        display: block;
        width: 100%;

        &.month {
            font-size: 4em;
            font-family: $title_font;
            color: rgba($text_color, 0.8);
            text-align: left;
            line-height: 1em;
            border-bottom: 1px solid rgba($text_color, 0.4);
        }

        &.day {
            font-size: 3em;
            line-height: 1em;
            text-align: right;
        }
    }
}

time {
    text-align: center;
}

.event-date-small {
    font-size: 1.2em;
    padding-left: 15px;
}

.location,
.url,
.event-tags,
.event-add-calendar {
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.location,
.event-add-calendar {
    & i {
        padding-left: 2px;
    }
}

.location{
    margin: 0px 0px 6px 0px;
    padding-left: 15px;
}

.event-meta-icon {
    width: 18px;
}

.event-tags-item{
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.6rem;
    margin: 0;
}

.event-tags-city {
    text-transform: uppercase;
}

.fa.fa-external-link.event-meta-icon,
.fa.fa-tags.event-meta-icon,
.fa.fa-google.event-meta-icon,
.fa.fa-map-marker.event-meta-icon {
    float: left;
}

.fa.fa-google.event-meta-icon {
    padding: 5px 19px 0px 3px;
}

.fa.fa-tags.event-meta-icon {
    padding: 6px 22px 0px 0px;
}

.fa.fa-external-link.event-meta-icon {
    padding: 5px 23px 0px 0px;
}


.is-event-free{

    span{
        
        &:hover{
            background-color: yellowgreen;
        }
        
        padding: 0.3em 0.4em;
        font-size: 0.8em;
        margin: 0;
        background-color: yellowgreen; 
    }
    
    @include grid-column(3);
    margin: -25px 0 0 0;
    float: right;
    text-align: right;
}

.archive{

    h3, a{
        color: $archive_text_color;
    }
    
    .event-date{
        
        .month{
           color: $archive_text_color; 
        }
    }
    
    .event-tags-item {
        
        &:not(:hover){
            background-color: $archive_text_color;  
        }
    }
    
    .is-event-free {
        
        span{
            
            &:not(:hover){
              background-color: $archive_text_color;  
            }  
        }
    }
    
    color: $archive_text_color;
}

.fa.fa-map-marker.event-meta-icon{
    padding: 4px 18px 0px 3px;
}
