/*
    Clermont'ech Planet

    Events.
 */

.talks {

    .event-wrapper {
        padding: 1em 0;

        &:not(:last-child){
            margin-bottom: 1em;
        }

        &:nth-child(even){
            background-color: #f5f5f5;
        }
    }
}

.event-name {
    font-family: $title_font;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0px;
}

.event-date-wrapper {
    display: none;
    // padding-top: 13px;
    text-align: center;
}

.event-date-small-date {
    display : inline-block;
    padding-right: 10px;
}

.event-date {
    text-align: center;

    span {
        display: block;
        width: 100%;

        &.month {
            font-size: 4em;
            font-family: $title_font;
            color: rgba($text_color, 0.8);
            text-align: left;
            line-height: 1em;
            border-bottom: 1px solid rgba($text_color, 0.4);
        }

        &.day {
            font-size: 3em;
            line-height: 1em;
            text-align: right;
        }
    }
}

time {
    text-align: center;
}

.event-date-small {
    margin-bottom: 6px;
    font-size: 1.2em;
    padding-left: 15px;
}

.event-location,
.event-url,
.event-tags,
.event-add-calendar {
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.event-location,
.event-add-calendar {
    & i {
        padding-left: 2px;
    }
}

.event-meta-icon {
    width: 18px;
}

.event-tags-item {
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.6rem;
    margin: 0;
}

.event-tags-city {
    text-transform: uppercase;
}

.fa.fa-external-link.event-meta-icon,
.fa.fa-tags.event-meta-icon,
.fa.fa-google.event-meta-icon {
    float: left;
}

.fa.fa-google.event-meta-icon {
    padding: 5px 19px 0px 3px;
}

.fa.fa-tags.event-meta-icon {
    padding: 6px 22px 0px 0px;
}

.fa.fa-external-link.event-meta-icon {
    padding: 5px 23px 0px 0px;
}
