/*
    Clermont'ech Planet

    Fonts.
 */

@font-face {
    font-family: $title_font;
    src: url('../fonts/neutraface-condensed-light.otf');
}

@font-face {
    font-family:$title_font;
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}
