/*
    Clermont'ech Planet

    Fonts.
 */

@font-face {
    font-family: "Neutraface";
    src: url('../fonts/neutraface-condensed-light.otf');
}

@font-face {
    font-family: "Neutraface Bold";
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600);
