/*
    Clermont'ech Planet

    Mediaqueries.
 */

@media only screen and (min-width: 40.063em) {

    .top-bar{

        .title-area {

            strong {
                text-align: left;
                color: $background_color;
            }

            float: none;
        }

        .toggle-topbar{
            display: block;
        }

        overflow: hidden;
    }

    .top-bar-section {

        ul{

            li {

                &:not(.has-form) {

                    a {
                        font-size: 1.2em;
                    }
                }

                float: none;
            }

            width: 100%;
        }
    }

    #content{
        min-height: 82%;
    }

    .content-404{

        img{
            @include grid-column(4);
            float:right;
            height:50px;
            max-width: 50px;
        }

        h3{
            @include grid-column(8);
        }
        
        h1{
            margin: 0 0.9375rem;
            font-size: 61px;
        }
    }
}

@media only screen and (min-width: 800px) {

    .event-date-wrapper {
        display: block;
    }

    .event-date-small {
        font-size: 1em;
    }

    .event-date-small-date {
        display : none;
    }

    .event-information-wrapper{
        @include grid-column(10);
        padding : 0px;
    }

    #content{
        min-height: 80%;
    }

    .tag-presentation {

        .image-container{
         @include grid-column(2);
         margin-left: 0px;
        }

        .info-container{
         height: 136px;
        }

        h1{
            @include grid-column(8);
            margin:0px;
            font-size: 5em;
        }

        img{
         height: 128px;
         max-width: 128px;
        }

        span{
            display: inline;
        }
    }
}


@media only screen and (min-width: 64.063em ){

    .logo-small {
        display: none;
    }

    .rss-link {
        display: block;
    }

    hgroup {
        display: block;
        margin: 0;

        div {
            margin-top: -40px;
        }

        h1 {
            margin-top: 42px;
        }
    }
    .top-bar{

        .toggle-topbar{
            display: none;
        }
    }
    .top-bar-section {

        ul{

            li {

                &:not(.has-form) {

                    a {

                        &:not(.button) {
                            background-color: $header_background_color;

                            &:hover {
                                background-color: $header_background_color;
                                color: #008CBA;
                            }
                        }

                        color: $background_color;
                    }
                }

                float: left;
            } 

            width: auto;
        }


    }

    .title-area {

        strong {
            display: none;
        }
    }

    #content{
        min-height: 65%;
    }

    .content-404{

        h1{
            @include grid-column(9);
        }

        img{
            @include grid-column(3);
            float: right;
        }

        h3{
            @include grid-column(9);
        }
    }
}