/*
    Clermont'ech Planet

    Mediaqueries.
 */

@media only screen and (min-width: 40.063em) {

    header {
        margin-bottom: 20px;
    }

    .top-bar-section {

        li {

            &:not(.has-form) {

                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    .title-area {

        strong {
            text-align: left;
            color: $background_color;
        }
    }
}

.event-information-wrapper{
    @include grid-column(10);
    padding : 0px;
}

@media only screen and (min-width: 800px) {

    .event-date-wrapper {
        display: block;
    }

    .event-date-small {
        font-size: 1em;
    }

    .event-date-small-date {
        display : none;
    }
}


@media only screen and (min-width: 64.063em ){

    .logo-small {
        display: none;
    }

    .rss-link {
        display: block;
    }

    hgroup {
        display: block;
        margin: 0;

        div {
            margin-top: -40px;
        }

        h1 {
            margin-top: 42px;
        }
    }

    .top-bar-section {

        li {

            &:not(.has-form) {

                a {
                    color: $background_color;

                    &:not(.button) {
                        background-color: $header_background_color;

                        &:hover {
                            background-color: $header_background_color;
                            color: #008CBA;
                        }
                    }
                }
            }
        }
    }

    .title-area {

        strong {
            display: none;
        }
    }
}
