/*
    Clermont'ech Planet

    Mediaqueries.
 */

@media only screen and (min-width: 40.063em) {

    header {
        margin-bottom: 20px;
    }
    
    .top-bar{
        
        .title-area {

            strong {
                text-align: left;
                color: $background_color;
            }
            
            float: none;
        }
        
        .toggle-topbar{
            display: block;
        }
        
        overflow: hidden;
    }

    .top-bar-section {

        ul{
            
            li {

                &:not(.has-form) {

                    a {
                        font-size: 1.2em;
                    }
                }
                
                float: none;
            }
            
            width: 100%;
        }
    }

    #content{
        min-height: 80%;
    }

    .content-404{

        img{
            @include grid-column(4);
            float:right;
        }

        h3{
            @include grid-column(8);
        }
    }
}

@media only screen and (min-width: 800px) {

    .event-date-wrapper {
        display: block;
    }

    .event-date-small {
        font-size: 1em;
    }

    .event-date-small-date {
        display : none;
    }
    
    .event-information-wrapper{
        @include grid-column(10);
        padding : 0px;
    }

    #content{
        min-height: 75%;
    }
}


@media only screen and (min-width: 64.063em ){

    .logo-small {
        display: none;
    }

    .rss-link {
        display: block;
    }

    hgroup {
        display: block;
        margin: 0;

        div {
            margin-top: -40px;
        }

        h1 {
            margin-top: 42px;
        }
    }
    .top-bar{
        
        .toggle-topbar{
            display: none;
        }
    }
    .top-bar-section {
        
        ul{
            
            li {

                &:not(.has-form) {

                    a {

                        &:not(.button) {
                            background-color: $header_background_color;

                            &:hover {
                                background-color: $header_background_color;
                                color: #008CBA;
                            }
                        }
                        
                        color: $background_color;
                    }
                }
                
                float: left;
            } 
            
            width: auto;
        }

        
    }

    .title-area {

        strong {
            display: none;
        }
    }

    #content{
        min-height: 49%;
    }

    .content-404{

        h1{
            @include grid-column(9);
        }

        img{
            @include grid-column(3);
        }

        h3{
            @include grid-column(9);
        }
    }
}
