/*
    Clermont'ech Planet

    Mixins.
 */

@mixin box-shadow($h_offset, $v_offset, $blur, $spread, $color){
    -webkit-box-shadow: $h_offset $v_offset $blur $spread $color;
    -moz-box-shadow: $h_offset $v_offset $blur $spread $color;
    -o-box-shadow: $h_offset $v_offset $blur $spread $color;
    box-shadow: $h_offset $v_offset $blur $spread $color;
}
