/*
    Clermont'ech Planet

    Define your settings here.
 */


$title_font : "Nanum Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$default_font : Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$text_color : #222;
$background_color : white;
$color_link_hover : #30303f;
$calendar_background_color : #333;
$header_background_color: #222;
$footer_background_color: #222;
$archive_text_color: rgba(140,132,120,0.5);
$event_background_color_even: #F5F5F5;
