/*
    Clermont'ech Planet

    Define your settings here.
 */


$title_font :'"Neutraface", "Helvetica Neue", fantasy, "Helvetica", Arial, sans-serif';
$default_font :'"Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
$text_color : #000;
$background_color : white;
$color_link_hover : #30303f;
$calendar_background_color : #A11D1D;
$header_background_color: rgba(21,21,23,1);
$footer_background_color: #212124;
