
$title_font :'"Neutraface", "Helvetica Neue", fantasy, "Helvetica", Arial, sans-serif';
$default_font :'"Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
$text_color : #000;
$background_color : white;
$color_link_hover : #30303f;
$calendar_background_color : #A11D1D;
$header_background_color: rgba(21,21,23,1);
$footer_background_color: #212124;

@font-face {
    font-family: $title_font; 
    src: url('../fonts/neutraface-condensed-light.otf');
}

@font-face {
    font-family:$title_font;
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}

@mixin box-shadow($h_offset, $v_offset, $blur, $spread, $color){
    -webkit-box-shadow: $h_offset $v_offset $blur $spread $color;
    -moz-box-shadow: $h_offset $v_offset $blur $spread $color;
    -o-box-shadow: $h_offset $v_offset $blur $spread $color;
    box-shadow: $h_offset $v_offset $blur $spread $color;
}

img{
    display: inline-block;
}

hgroup{
    display: none;
}

body {
    font-family: $default_font;
    background-color: $background_color;
}

header{
    background-color: $header_background_color;
    margin-bottom: 10px;
}

hr{
    display: block;
}

.header-icon-rss{
    color: $background_color;
    float: right;
    margin-right: 12%;
    margin-top: -25px;
    padding-right: 16px;
    display: none;
    &:hover{
        color: #008CBA;
    }
}

%h_mother{
    font-family: $title_font;
}

%h_main{
    @extend %h_mother;
    font-weight: bold;
}

h2{
    @extend %h_main;
    color: $background_color;
    text-align: left;
    
}

h1{
    @extend h2;
    text-transform: uppercase;
}

.top-bar{
    height: 40px;
    background-color: $header_background_color;
    .toggle-topbar.menu-icon{
        margin: 0;
        top: 0%;
        a{
            height: 40px;
        }
    }
}

.top-bar.expanded{
    background-color: $header_background_color;
}

.top-bar-section{
        li{
            &:not(.has-form){
                a{
                    &:not(.button){
                        
                        background-color: $header_background_color;
                        
                        &:hover{
                            background-color: $color_link_hover;  
                        }
                    }
                    font-family: $title_font;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.0em;
                }
            }
        }
        z-index: 999;
    }

li{
    text-align: center;
    background-color: $header_background_color;
}

h3, h4, h5, h6 {
    @extend %h_mother;
}

.title-area{
    strong{
        @extend h1;
        display: block;
        font-weight: bold;
        margin-left: 10px;
        line-height: 40px;
        float: left;
        font-size: 1.5em;
    }
}

.logo-small {
    margin: 8px 0px;
    margin-left: 10px;
    height: 25px;
    float: left;
    z-index: 1;
}

/* footer */
footer {
    width: 100%;
    background: $footer_background_color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $background_color;
    margin-top: 20px;

    p {
        text-align: justify;
        font-size: 0.9em;
    }
}

/* events */

.event-name {
    font-family: $default_font;
    font-size: 2em;
}

.event-date-wrapper {
    display: none;
    padding-top: 13px;
    text-align: center;
}

.event-date-small-date{
    display : inline-block;
    padding-right: 10px;
}

.event-date {
  text-align: center;
  font-family: $title_font;
  font-size: 1em;
  display: inline-block;
  position: relative;
  width: 6em;
  height: 7em;
  background-color: $background_color;
  border: 1px solid $text_color;
  border-radius: 0.6em;
  overflow: hidden;
  
  em {
    position: absolute;
    top: 0;
    font-size: 2em;
    padding: 0.1em 0;
    color: $background_color;
    background-color: $calendar_background_color;
    border: 1px $text_color;
    border-bottom: 1px;
  }
    
  span {
    font-size: 3em;
    letter-spacing: -0.05em;
    padding-top: 1em;
    background-color: $background_color;
    color : $text_color;
  }
  
  * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }

}

time{
    text-align: center;
}

.event-date-small {
    margin-bottom: 6px;
    font-size: 1.2em;
    padding-left: 15px;
}

.event-location,
.event-url,
.event-tags,
.event-add-calendar{
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.event-location,
.event-add-calendar {
    & i {
        padding-left: 2px;
    }
}

.event-meta-icon {
    width: 18px;
}

.event-tags-item {
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.6rem;
    margin: 0;
}

.event-tags-city {
    text-transform: uppercase;
}

.fa.fa-external-link.event-meta-icon,
.fa.fa-tags.event-meta-icon,
.fa.fa-google.event-meta-icon
{
    float: left;
}

.fa.fa-google.event-meta-icon{
    padding: 5px 19px 0px 3px;
}

.fa.fa-tags.event-meta-icon{
    padding: 6px 22px 0px 0px;
}

.fa.fa-external-link.event-meta-icon
{
    padding: 5px 23px 0px 0px;
}

@media only screen and (min-width: 40.063em) {
    header{
    margin-bottom: 20px;
    }
    
    .top-bar-section{
        li{
            &:not(.has-form){
                a{
                    font-size: 1.2em;
                }
            }
	}
    }
    
    .title-area{
        strong{
            text-align: left;
            color: $background_color;
        }
    }
}

@media only screen and (min-width: 800px){
    .event-date-wrapper {
        display: block;
    }  
    
    .event-date-small {
        font-size:1em;
    }
    
    .event-date-small-date{
        display : none;
    }
}


@media only screen and (min-width: 64.063em ){
    
    .logo-small{
        display: none;
    }
    
    .logo-small .logo-medium{
        display: none;
    }
        
    .header-icon-rss{
        display: block;
        position: relative;
    }
    
    hgroup{
        display: block;
        margin: 0;
        div{
            margin-top: -40px;
        }
        h1{
            margin-top: 42px;
        }
    }
    
    .top-bar-section{
        li{
            &:not(.has-form){
                a{
                    &:not(.button){
                        background-color: $header_background_color;
                        &:hover{
                            background-color: $header_background_color;
                            color: #008CBA;
                        }
                    }
                    color: $background_color;
                }
            }
        }
        margin-right: 12%;
    }
    
    .title-area{
        strong{
            display: none;
        }
    }
}
