
$title_font :'"Neutraface", "Helvetica Neue", fantasy, "Helvetica", Arial, sans-serif';
$default_font :'"Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
$text_color : #000;
$background_color : white;
$color_link_hover : #30303f;

@font-face {
    font-family: $title_font; 
    src: url('../fonts/neutraface-condensed-light.otf');
}

@font-face {
    font-family:$title_font;
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}

@mixin box-shadow($h_offset, $v_offset, $blur, $spread, $color){
    -webkit-box-shadow: $h_offset $v_offset $blur $spread $color;
    -moz-box-shadow: $h_offset $v_offset $blur $spread $color;
    -o-box-shadow: $h_offset $v_offset $blur $spread $color;
    box-shadow: $h_offset $v_offset $blur $spread $color;
}

img{
    display: inline-block;
}

hgroup{
    display: none;
}

body {
    font-family: $default_font;
    background-color: $background_color;
}

header{
    background-color: $text_color;
    margin: 0;
    z-index: 999;
}

hr{
    display: none;
}

%h_mother{
    font-family: $title_font;
}

%h_main{
    @extend %h_mother;
    font-weight: bold;
}

h2{
    @extend %h_main;
    color: $background_color;
    text-align: left;
    
}

h1{
    @extend h2;
    text-transform: uppercase;
}

.top-bar{
    height: 40px;
    background-color: $text_color;
    .toggle-topbar.menu-icon{
        margin: 0;
        top: 0%;
        a{
            height: 40px;
        }
    }
}

.top-bar.expanded{
    background-color: $text_color;
}

.top-bar-section{
        li{
            &:not(.has-form){
                a{
                    &:not(.button){
                        
                        background-color: $text_color;
                        
                        &:hover{
                            background-color: $color_link_hover;  
                        }
                    }
                    font-family: $title_font;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.0em;
                }
            }
        }
        z-index: 999;
    }

li{
    text-align: center;
    background-color: $text_color;
}

h3, h4, h5, h6 {
    @extend %h_mother;
}

.title-area{
    strong{
        @extend h1;
        display: block;
        font-weight: bold;
        margin-left: 10px;
        line-height: 40px;
        float: left;
        font-size: 1.5em;
    }
}

.logo-small {
margin: 8px 0px;
margin-left: 10px;
height: 25px;
float: left;
}

/* footer */
footer {
    width: 100%;
    background: $text_color;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $background_color;
    margin-top: 20px;

    p {
        text-align: justify;
        font-size: 0.9em;
    }
}

/* events */

.event-name {
    font-family: $default_font;
    font-size: 2em;
}

.event-date-wrapper {
    display: none;
    padding-top: 3em;
    text-align: center;
}

.event-date {
  text-align: center;
  font-family: $title_font;
  font-size: 1em;
  display: inline-block;
  position: relative;
  width: 6em;
  height: 7em;
  background-color: $background_color;
  border: 1px solid $text_color;
  border-radius: 0.6em;
  overflow: hidden;
  
  em {
    position: absolute;
    top: 0;
    font-size: 2em;
    padding: 0.1em 0;
    color: $background_color;
    background-color: $text_color;
    border: 1px $text_color;
    border-bottom: 1px;
  }
    
  span {
    font-size: 3em;
    letter-spacing: -0.05em;
    padding-top: 1em;
    background-color: $background_color;
    color : $text_color;
  }
  
  * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
  }

}

time{
    text-align: center;
}

.event-date-small {
    margin-bottom: 6px;
    font-size: 1.7em;
}

.event-location,
.event-url,
.event-tags,
.event-add-google-calendar{
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.event-meta-icon {
    width: 18px;
}

.event-tags-item {
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.6rem;
    margin: 0;
}

.event-month{
    background-color: red;
    border: 1px solid $text_color;
    width: 75px;
    color: $background_color;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.3em;
    .event-day{
        background-color: $background_color;
        color: $text_color;
        border-top: 1px solid $text_color;
        height: 60px;
        font-size: 1.7em;
        font-weight: normal;
        border-radius: 0px 0px 5px 5px;
   }
}


@media only screen and (min-width: 40.063em) {
    .top-bar-section{
        li{
            &:not(.has-form){
                a{
                    font-size: 1.2em;
                }
            }
	}
    }

   .logo-small{
        margin: 0px 0px 0px 5px;
        height: 40px;
    }

    .event-date-small {
        font-size:1em;
    }
    
    .title-area{
        strong{
            font-size: 2.4em;
            text-align: left;
            color: $background_color;
        }
    }
}

@media only screen and (min-width: 800px){
    .event-date-wrapper {
        display: block;
    }    
}


@media only screen and (min-width: 64.063em ){
    
    .logo-small{
        display: none;
    }
    
    hr{
        display: block;
        border-color: $text_color;
    }
 
    .logo-small .logo-medium{
        display: none;
    }
    
    hgroup{
        display: block;
        margin: 0;
        div{
            margin-top: -28px;
        }
    }
    
    .top-bar-section{
        li{
            &:not(.has-form){
                a{
                    &:not(.button){
                        background-color: $text_color;
                        &:hover{
                            text-decoration: none;
                            background-color: $text_color;
                            color: $background_color;  
                        }
                    }
                    text-decoration: underline;
                    color: $background_color;
                }
            }
        }
        margin-right: 12%;
    }
    
    .title-area{
        strong{
            display: none;
        }
    }
}
