
$font_1 :'Neutraface';
$color_fonds : black;
$color_text : white;



@font-face {
    font-family: $font_1; 
    src: url('../fonts/neutraface-condensed-light.otf');
}

@font-face {
    font-family: $font_1;
    font-weight: bold;
    src: url('../fonts/neutraface-condensed-medium.otf');
}

@mixin box-shadow($color, $v_offset, $h_offset, $blur){
    -webkit-box-shadow: $color $v_offset $h_offset $blur;
    -moz-box-shadow: $color $v_offset $h_offset $blur;
    box-shadow: $color $v_offset $h_offset $blur;
}


body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: $color_text;
    background-attachment: fixed;
}

nav{
    margin: 10px 0px 10px 0px;
    margin-right: 15%;
}

ul{
    float: right;
}

li{
    list-style-type: none;
    margin: 0px 10px 0px 10px;
    float: left;
    font-size: 1.2em;
}

header{
    margin-top: 20px;
    background-color: $color_fonds;
    @include box-shadow($color_fonds, 2px, 2px, 10px);
}

hgroup{
    margin-top: 15px;
}

hr{
    border-color: $color_fonds;
}

%h_mother{
    font-family: $font_1, "Helvetica Neue", fantasy, "Helvetica", Arial, sans-serif;
}

%h_main{
    @extend %h_mother;
    font-weight: bold;
}

h2{
    @extend %h_main;
    color: $color_text;
    text-align: left;
    
}
h1,li{
    @extend h2;
    text-transform: uppercase;
}


h3, h4, h5, h6 {
    @extend %h_mother;
}



/* footer */
footer {
    width: 100%;
    @include box-shadow($color_fonds, 2px, 2px, 10px);
    background: $color_fonds;
    padding-top: 30px;
    padding-bottom: 10px;
    color: $color_text;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* events */
.event {
    border-bottom: 1px solid #000;
}

.event-date-wrapper {
    display: none;
}

.event-date {
    text-align: center;
}

.event-date-small {
    margin-bottom: 6px;
}

.event-location,
.event-url,
.event-tags {
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.event-meta-icon {
    width: 18px;
}

.event-tags-item {
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    font-size: 0.6rem;
}

@media only screen and (min-width: 40.063em) {
    .event-date-wrapper {
        display: block;
    }
}

@media only screen and (max-width: 800px){
    img{
        display: none;
    }
    li{
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 640px){
    li{
        float: none;
        text-align: center;
        font-size: 1.2em;
    }
    ul{
        float: none;
    }
    
    nav{
        margin: 0;
    }
    
    hgroup{
        display: none;
    }
    footer{
        margin-bottom: 0;
    }
    header{
        margin-top: 0;
    }
    
    hr{
        display: none;
    }
}
