---
layout: layout
---

{{content}}

<section class="talks small-12 columns">
{% for event in site.posts %}

    {% if forloop.first == false %}<hr>{% endif %}

    <div class="event row" itemscope itemtype="http://schema.org/Event">
        <div class="small-2 columns event-date-wrapper">
            <time class="event-date" itemprop="startDate" datetime="{{ event.event_date|date_to_xmlschema }}" content="{{ event.event_date|date_to_xmlschema }}">
                <em>{{ event.event_date|date:"%b" }}</em>
                <span>{{ event.event_date|date:"%-d" }}</span>
            </time>
        </div>

        <div class="small-12 medium-10 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h3 class="event-name" itemprop="name">{{ event.title }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <div class="event-date-small">
                        {{ event.event_date|date: '%d/%m/%y <strong>%R</strong>' }}
                    </div>

                    <div class="event-description text-justify" itemprop="description">
                        {{ event.description|markdownify }}
                    </div>

                    {% if event.location %}
                    <div class="event-location" itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <i class="fa fa-map-marker event-meta-icon"></i>
                        {% if event.location.name %}
                        <span itemprop="name">{{ event.location.name }}</span>
                        {% endif %}
                        <a itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" href="https://www.google.fr/maps/place/{{ event.location.street_address | replace: ' ','+' }}+{{ event.location.postal_code | replace: ' ','+' }}+{{ event.location.city | replace: ' ','+' }}" target="_blank">
                            <span itemprop="streetAddress">{{ event.location.street_address }}</span>
                            <span itemprop="postalCode">{{ event.location.postal_code }}</span>
                            <span itemprop="addressLocality">{{ event.location.city }}</span>
                        </a>
                    </div>
                    {% endif %}

                    {% if event.event_url %}
                    <div class="event-url" itemprop="url">
                        <i class="fa fa-external-link event-meta-icon"></i>
                        <a href="{{ event.event_url }}" target="_blank">{{ event.event_url }}</a>
                    </div>
                    {% endif %}

                    <div class="event-tags">
                        {% if event.location or event.tags.size > 0 %}
                        <i class="fa fa-tags event-meta-icon"></i>
                        {% endif %}
                        {% if event.location %}
                        <span class="event-tags-item event-tags-city button radius">{{ event.location.city }}</span>
                        {% endif %}
                        {% for tag in event.tags %}
                        <span class="event-tags-item button radius success">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    {% capture url_google_calendar  %}https://www.google.com/calendar/render?action=TEMPLATE
{% if event.title %}&text={{ event.title|uri_escape }}{% endif %}
&dates={{ event.event_date|date: '%Y%m%dT%H%M00'}}/{{ event.event_date|date: '%Y%m%dT%H%M00'}}
{% if event.description %}
&details={{ event.description|markdownify|strip_html|uri_escape }}
{% endif %}
{% if event.location %}
&location={{ event.location.name|append:''|uri_escape }}+{{ event.location.street_address|uri_escape }}+{{ event.location.postal_code }}+{{ event.location.city|uri_escape }}{% endif %}
&sf=true{% endcapture %}

                    <div class="event-add-calendar">
                        <i class="fa fa-google event-meta-icon"></i>
                        <a target="_blank" href="{{ url_google_calendar|strip_newlines }}">
                            <span>{{ site.insert.google-calendar }}</span>
                        </a>
                    </div>

                    {% capture icalendar_data %}BEGIN:VCALENDAR\r\n
PRODID:planet.clermontech.org\r\n
VERSION:2.0\r\n
BEGIN:VEVENT\r\n
UID:{{ event.id|remove_first:'/'|replace:'/','-' }}\r\n
DTSTART:{{ event.event_date|date: '%Y%m%dT%H%M00' }}\r\n
{% if event.title %}
SUMMARY:{{ event.title }}\r\n{% endif %}
{% if event.location %}
LOCATION:{{ event.location.name }} {{ event.location.street_address }} {{ event.location.postal_code }} {{ event.location.city }}\r\n
{% endif %}
{% if event.description %}
DESCRIPTION:{{ event.description|markdownify|replace:'<br>':'\\\n'|strip_html|replace:',','\\,' }}\r\n
{% endif %}
CATEGORIES:{{ event.tags|join:','|replace: "'","\\'" }}\r\n
END:VEVENT\r\n
END:VCALENDAR{% endcapture %}

                    <div class="event-add-calendar">
                        <i class="fa fa-calendar event-meta-icon"></i>
                        <a target="_blank" href="javascript:window.open('data:text/calendar;charset=utf8,' + encodeURIComponent('{{ icalendar_data|strip_newlines }}'));">
                            <span>{{ site.insert.icalendar}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</section>
